<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Goods</title>

    <link rel="stylesheet" href="test.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top" >
      <div class="container">
        <a class="navbar-brand" href="main.html">
          <img src="LogoIdea2.png" alt="BrandLogo" width="60" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link mx-lg-z" href="main.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-z" href="ContactUs.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-z" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-z" href="login.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-z" href="register.html">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-z active" aria-current="page" href="/displayCart">Cart <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
              </svg> </a>
            </li>
          </ul>
          <form class="d-flex" role="search" data-bs-theme="white" method="post" action="/searchFood">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="prodName" name="prodName">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  
  <section style="color: white; margin-top: 150px;" class="container">
    <h2>Shopping Cart</h2>
    <hr>
  </section>

<section id="cart-container" class="container my-5">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Add or Remove</td>
                <td>Total</td>
            </tr>
        </thead>

        <tbody>
            <% data1.forEach(function(product){ %>

          <tr style="background-color: white;">
            <td>
              <form method="post" action="/removeProduct">
                <input type="hidden" name="cartID" value="<%= product.cartID %>">
                <button type="submit"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg></button>
              </form>
            </td>
            <td><img src="<%=product.productImage%>"></td>
            <td><h5><%= product.productName %></h5></td>
            <td><h5>$<%= product.price %></h5></td>
            <td><%= product.Qty %></td>
            <td><h5>
              <form method="post" action="/qtyAdd">
                <input type="hidden" name="qtyAdd" value="<%= product.cartID %>">
                <button class="small-btn">+</button>
              </form>
              <form method="post" action="/qtySub">
                <input type="hidden" name="qtySub" value="<%= product.cartID %>">
                <button class="small-btn" type="submit">-</button>
              </form>
            </h5>  
             </td>
            <td><h5>$<%= product.Total_Price %></h5></td>
          </tr>
          <% }) %>
        </tbody>
    </table>
</section>
  
<section id="cart-bottom" class="container">
  <div class="row">
    <div class="total col-lg-6 col-md-6 col-12">
      <div style="background-color: white;">
        <h5>Cart Total</h5>
        <div class="d-flex justify-content-between">
          <h6>Subtotal</h6>
          <% data2.forEach(function(product) { %>

          <p>$<%= product.Overall_Total_Price %></p>
          <% }) %>

        </div>
        <div class="d-flex justify-content-between">
          <h6>Free Shipping!</h6>
          <p>$0.00</p>
        </div>
        <hr class="second-hr">
        <div class="d-flex justify-content-between">
          <h6>Total</h6>
          <% data2.forEach(function(product) { %>

          <p>$<%= product.Overall_Total_Price %></p>
          <% }) %>

        </div>
        <form method="post" action="/removeAllFromCart">
          <button class="ml-auto" type="submit">Checkout</button>
        </form>
       </div>
    </div>
  </div>
</section>

<br><br><br><br><br>

<footer class="mt-5 py-5" style="background-color: coral;">
  <p style="text-align: center;"><b>Premium Goods Grocery Store Inc.</b></p>
  <p style="text-align: center;"><i>Copyright @ 2024 Luke Pomes</i></p>
</footer>

</body>

</html>